:root {
  --pink: #ba6dad;
  --white: #ffffff;
  --black: #000000;
}

body {
  background: var(--pink);
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App {
  width: 1240px;
  margin: auto;
  text-align: right;
  padding-top: 8px;

  @media (max-width: 1240px) {
    width: 100%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}